<!DOCTYPE html>
<html>
  {{ partial "head" . }}
<body>
  {{ partial "header" . }}
    <div class="page-content">
      <h1>{{ .Title }}</h1>
      <h3>{{ .Date.Format "January 2, 2006" }}</h3>
      <div class="grid-container grid-left">
        <div class="grid-item">
          {{ .Content }}
          <div class="comments-giscus">
            <script src="https://giscus.app/client.js"
                    data-repo="davidhoang/davidhoang-dot-com"
                    data-repo-id="R_kgDOKOniWg"
                    data-category="General"
                    data-category-id="DIC_kwDOKOniWs4CbOtS"
                    data-mapping="pathname"
                    data-strict="0"
                    data-reactions-enabled="0"
                    data-emit-metadata="0"
                    data-input-position="bottom"
                    data-theme="light"
                    data-lang="en"
                    crossorigin="anonymous"
                    async>
            </script>
          </div>
        </div>
        <div class="grid-item">
          <div class="sidebar-content">
            {{ partial "sidebar" . }}
          </div>
        </div>
      </div>
    </div>
  {{ partial "footer" . }}
</body>
</html>
