<footer>
  <div class="footer-container">
    <div class="footer-email"><a class="footer" href="mailto:david@davidhoang.com">david[at]davidhoang.com</a></div>
    <div class="footer-grid grid-50">
      <div class="grid-container">
        <h3>On the web</h3>
        <ul>
          <li><a class="footer" href="#" target="_blank">Angellist</a></li>
          <li><a class="footer" href="https://github.com/davidhoang" target="_blank">GitHub</a></li>
          <li><a class="footer" href="https://twitter.com/davidhoang" target="_blank">Twitter</a></li>
        </ul>
      </div>
      <div class="grid-container">
        <h3>Fun shenanigans</h3>
        <ul>
          <li><a class="footer" href="https://ddj.pallet.com/jobs" target="_blank">Job board</a></li>
          <li><a class="footer" href="#" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      &copy; 2023 David Hoang
    </div>
    <div class="built-with-replit"><a href="http://replit.com" target="_blank"><img src="/images/img-built-with-replit.svg"></a></div>
  </div>
</footer>