<div class="sidebar">
  <img src="/images/img-dh-blog-sidebar.jpg">
  <p></p>I'm David. This is my blog. I'm a designer, investor, and writer based in California.</p>
<h3>Blog roll</h3>
<ul>
  <li><a href="https://www.adamwiggins.com" target="_blank">Adam Wiggins</a></li>
  <li><a href="https://www.briannekimmel.com" target="_blank">Brianne Kimmel</a></li>
  <li><a href="https://www.cristinajcordova.com" target="_blank">Cristina Cordova</a></li>
  <li><a href="https://www.duaa.design" target="_blank">Duaa Zaheer</a></li>
  <li><a href="https://byerinmurphy.com" target="_blank">Erin Murphy</a></li>
  <li><a href="https://www.gracewalker.ca" target="_blank">Grace Walker</a></li>
  <li><a href="https://www.mynameisjehad.com" target="_blank">Jehad Affoneh</a></li>
  <li><a href="http://www.freshjess.com" target="_blank">Jess Estrada</a></li>
  <li><a href="https://ibuildmyideas." target="_blank">Jordan Singer</a></li>
  <li><a href="https://imkylelambert.com" target="_blank">Kyle Lambert</a></li>
  <li><a href="https://www.lauragallisa.com" target="_blank">Laura Gallisá</a></li>
  <li><a href="https://maggieappleton.com" target="_blank">Maggie Appleton</a></li>
  <li><a href="https://www.manton.org" target="_blank">Manton Reece</a></li>
  <li><a href="https://marco.fyi" target="_blank">Marco Cornacchia</a></li>
  <li><a href="https://www.mathurah.com" target="_blank">Mathurah</a></li>
  <li><a href="https://www.mollymielke.com" target="_blank">Molly Mielke</a></li>
  <li><a href="https://www.paigefinndoherty.com" target="_blank">Paige Finn Doherty</a></li>
  <li><a href="https://www.paolamariselli.com" target="_blank">Paola Mariselli</a></li>
  <li><a href="https://tyler.cafe" target="_blank">Tyler Angert</a></li>
</ul>
    <!-- layouts/_default/single.html -->

    {{ partial "authors.html" . }}
</div>