<div class="sidebar">
  <img src="/images/img-dh.jpg">
  I'm David. This is my blog.
<h2>Blog roll</h2>
<ul>
  <li><a href="https://www.adamwiggins.com" target="_blank">Adam Wiggins</a></li>
  <li><a href="https://www.briannakimmel.com" target="_blank">Brianne Kimmel</a></li>
  <li><a href="https://www.cristinacordova.com" target="_blank">Cristina Cordova</a></li>
  <li><a href="https://www.duaazaheer.com" target="_blank">Duaa Zaheer</a></li>
  <li><a href="https://www.erinmurphy.me" target="_blank">Erin Murphy</a></li>
  <li><a href="https://www.gracewalker.me" target="_blank">Grace Walker</a></li>
  <li><a href="https://www.jehadaffoneh.com" target="_blank">Jehad Affoneh</a></li>
  <li><a href="https://www.jessestrada.com" target="_blank">Jess Estrada</a></li>
  <li><a href="https://www.jordansinger.me" target="_blank">Jordan Singer</a></li>
  <li><a href="https://www.kylelambert.me" target="_blank">Kyle Lambert</a></li>
  <li><a href="https://www.lauragallisa.com" target="_blank">Laura Gallisá</a></li>
  <li><a href="https://www.maggieappleton.com" target="_blank">Maggie Appleton</a></li>
  <li><a href="https://www.mantonreece.com" target="_blank">Manton Reece</a></li>
  <li><a href="https://www.marcocornacchia.com" target="_blank">Marco Cornacchia</a></li>
  <li><a href="https://www.mathurah.com" target="_blank">Mathurah</a></li>
  <li><a href="https://www.mollymielke.com" target="_blank">Molly Mielke</a></li>
  <li><a href="https://www.paigefinndoherty.com" target="_blank">Paige Finn Doherty</a></li>
  <li><a href="https://www.paolamariselli.com" target="_blank">Paola Mariselli</a></li>
  <li><a href="https://www.tylerangert.com" target="_blank">Tyler Angert</a></li>
</ul>
</div>