<div class="sidebar">
  <img src="/images/img-dh-blog-sidebar.jpg">
  <p></p>I'm David. I'm a designer, investor, and writer based in California.</p>
<h3>Elseworld</h3>
	<ul>
		<li><a href="http://blog.davidhoang.com" target="_blank">blog.davidhoang.com</li>
		<li><a href="http://letterboxd.com/davidhoang" target="_blank">Letterboxd</li>
		<li><a href="http://github.com/davidhoang" target="_blank">GitHub</li>
	</ul>
<h3>Blog roll</h3>
<ul>
    <li><a href="https://amasad.me" target="_blank">Amjad Masad</a></li>
    <li><a href="https://www.adamwiggins.com" target="_blank">Adam Wiggins</a></li>
  <li><a href="https://www.briannekimmel.com" target="_blank">Brianne Kimmel</a></li>
  <li><a href="https://www.cristinajcordova.com" target="_blank">Cristina Cordova</a></li>
  <li><a href="https://www.duaa.design" target="_blank">Duaa Zaheer</a></li>
  <li><a href="https://byerinmurphy.com" target="_blank">Erin Murphy</a></li>
  <li><a href="https://www.gracewalker.ca" target="_blank">Grace Walker</a></li>
  <li><a href="https://www.mynameisjehad.com" target="_blank">Jehad Affoneh</a></li>
  <li><a href="http://www.freshjess.com" target="_blank">Jess Estrada</a></li>
  <li><a href="https://ibuildmyideas.com" target="_blank">Jordan Singer</a></li>
  <li><a href="https://imkylelambert.com" target="_blank">Kyle Lambert</a></li>
  <li><a href="https://www.lauragallisa.com" target="_blank">Laura Gallisá</a></li>
  <li><a href="https://maggieappleton.com" target="_blank">Maggie Appleton</a></li>
  <li><a href="https://www.manton.org" target="_blank">Manton Reece</a></li>
  <li><a href="https://marco.fyi" target="_blank">Marco Cornacchia</a></li>
  <li><a href="https://www.mathurah.com" target="_blank">Mathurah</a></li>
  <li><a href="https://www.mollymielke.com" target="_blank">Molly Mielke</a></li>
	<li><a href="https://owenwillia.ms/" target="_blank">Owen Williams</li>
  <li><a href="https://www.paigefinndoherty.com" target="_blank">Paige Finn Doherty</a></li>
  <li><a href="https://www.paolamariselli.com" target="_blank">Paola Mariselli</a></li>
	<li><a href="https://www.savannahniles.com/" target="_blank">Savannah Niles</a></li>
  <li><a href="https://tyler.cafe" target="_blank">Tyler Angert</a></li>
</ul>
    <!-- layouts/_default/single.html -->

    {{ partial "authors.html" . }}
</div>